body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(1fr, auto) color: black;
    background-color: oldlace;
    grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "footer footer footer footer";
}

header {
    grid-area: header;
    grid-template-columns: 1fr 1fr 2fr
}

ul {
    grid-area: ul;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr
}

img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50px
}

.pmaps {
    grid-area: pmaps;
    display: flex;
    flex-direction: row;
    justify-content: flex start;
    width: 50px;
}